.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* height: 800px; */
  /* height: 100%; */
  background-color: hsla(0, 0%, 0%, 0.55);
  background: linear-gradient(rgba(20, 20, 20, 0.65), rgba(20, 20, 20, 0.65)),
    url('../../images/help.jpg');
  background-size: cover;

  /* background-image: url('../../images/help.jpg'); */
  height: calc(100vh - 80px);
  /* margin: 200px 0 150px 0; */
}

.image {
  background-color: hsl(228, 14%, 79%);
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.undraw {
  min-width: 475px;
}

.sloganContainer {
  width: 75%;
  text-align: center;
  color: white;
}

.sloganButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.supplementaryText {
  font-size: 25px;
  color: rgb(230, 230, 230);
  line-height: 1.5;
}

.buttonContainer {
  display: inline;
}

.slogan {
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 1040px) {
  /* .container {
    justify-content: center;
  }
  .sloganContainer {
    width: 80%;
    text-align: center;
  } */
}

@media (max-width: 768px) {
  .container {
    /* padding: 100px 0 100px 0; */
  }

  .image {
    width: 250px;
    height: 250px;
  }

  .slogan {
    font-size: 35px;
  }
}

@media (max-width: 390px) {
  .slogan {
    font-size: 30px;
  }
}
