.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.valuePropsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 77%;
  /* margin-bottom: 150px; */
}

.title {
  text-align: center;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .valuePropsContainer {
    width: 40%;
  }
}
