.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 100%;
}

.valueProps {
  display: flex;
  justify-content: center;
  /* height: 800px; */
  width: 100%;
  max-width: 1400px;
}

.features {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  /* height: 800px; */
}

.teamMembers {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}
