.instagram {
    text-align: center;
    border-radius: 40px;
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }

  .icon {
      min-height: 40px;
      min-width:40px;
      transition: transform .3s;
  }

  .icon:hover {
    transform: scale(1.2);

  }

  .facebook {
    color: #fff;
    background:#3b5998;
  }

  .twitter {
    color:#00aced;
    background:#fff;
  }
  
  .snapchat {
      background:#fffc00;
      color:#fff;

    
  }

