.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.membersContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
  margin-bottom: 50px;
}

.title {
  margin-bottom: 75px;
}
