.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.featuresContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  margin-bottom: 70px;
}
