.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 50px;
}

.image {
  width: 200px;
  margin: 0 0 10px 0;
}

.informationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.role {
  color: hsl(228, 14%, 58%);
}
