.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.iconsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.icon {
  width: 50px;
}
